.imagesGallery {
  position: relative;
  width: 100%;
}

.galleryWithArrows::before,
.galleryWithArrows::after {
  position: absolute;
  width: 1rem;
  height: 10rem;
  top: calc(50% - 5rem);
  line-height: 10rem;
  font-size: 2rem;
  font-family: cursive;
}

.galleryWithArrows::before {
  content: "<";
  left: -2rem;
}

.galleryWithArrows::after {
  content: ">";
  right: -2rem;
}

.right_alignment {
  @apply flex-col-reverse;
}

.left_alignment {
  @apply flex-col;
}

.siteLinkCaption {
  @apply text-center text-sm font-second mb-6;
}

.siteLink {
  @apply relative font-main mx-auto text-lg text-center w-max-content block;
}

.siteLink::before {
  content: "";
  height: 2px;

  @apply absolute bottom-0 left-0 w-full bg-primary duration-300;
}

.siteLink:hover::before {
  height: 10px;
}

@media only screen and (min-width: 1000px) {
  .imagesGallery {
    position: relative;
    width: calc(100% - 16rem);
    margin: 0 8rem;
  }

  .right_alignment {
    @apply flex-row-reverse;
  }

  .left_alignment {
    @apply flex-row;
  }

  .galleryWithArrows::before,
  .galleryWithArrows::after {
    width: 4rem;
    font-size: 8rem;
  }

  .galleryWithArrows::before {
    left: -6rem;
  }

  .galleryWithArrows::after {
    right: -6rem;
  }

  .siteLinkCaption {
    @apply text-xl;
  }

  .siteLink {
    @apply text-2xl;
  }
}
