.social {
  width: 8rem;
  transform: translateY(-50%) skew(8deg);
  top: 50%;
  transform-style: preserve-3d;

  @apply relative flex flex-row justify-center h-max-content;
}

@media only screen and (max-width: 800px) {
  .social {
    width: 4rem;
    flex-wrap: wrap;
    transform: translateY(-50%);
  }
}
