@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.social_link {
  width: 30px;
  height: 30px;
  margin: 2px 5px;

  @apply relative list-none;
}

.social_link span {
  background: #2a2a2a;
  font-size: 20px !important;

  @apply absolute top-0 left-0 w-full h-full flex justify-center items-center text-white duration-1000;
}

.social_link:hover span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);

  @apply z-50 duration-500 text-white;
}

.social_link:hover span:nth-child(5) {
  transform: translate(16px, -16px);
  opacity: 1;
}

.social_link:hover span:nth-child(4) {
  transform: translate(12px, -12px);
  opacity: 0.8;
}

.social_link:hover span:nth-child(3) {
  transform: translate(8px, -8px);
  opacity: 0.6;
}

.social_link:hover span:nth-child(2) {
  transform: translate(4px, -4px);
  opacity: 0.4;
}

.social_link:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}

.facebook span,
.instagram span,
.twitter span,
.linkedin span {
  transition: 0.3s;
}

.facebook:hover span {
  background: #3b5998 !important;
}

.instagram:hover span {
  background: #c32aa3 !important;
}

.twitter:hover span {
  background: #1da1f2 !important;
}

.linkedin:hover span {
  background: #3b5998 !important;
}

@media only screen and (max-width: 800px) {
  .social_link {
    width: 25px;
    height: 25px;
    margin: 2px;
  }

  .social_link span {
    font-size: 15px !important;
  }
}
